grpcio
grpcio-tools
ollama
protobuf
requests
elasticsearch==8.16.0
elastic-transport==8.15.1


# gRPC libraries

# grpcio
# grpcio-tools
# protobuf

# Web server & LLM client

# fastapi
# uvicorn
# ollama